#bg1{
    background-image: url('https://storage.googleapis.com/ureify-strapi-assets/interview_panel_3f4b88251d/interview_panel_3f4b88251d.webp');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}
.box{
    background-color: rgba(15, 14, 15, 0.093);
    border-radius: 10%;
    margin-top: 100px;
}