* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}
.parent {
  position: relative;
  margin-top: 50px;
}

.child {
  height: auto;
  float: left;
}
#head1 {
  position: absolute;
  margin-left: 35%;
  color: antiquewhite;
}
img {
  width: 300px;
  height: 100%;
}
h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
}
#img1 {
  margin-left: 25%;
  margin-top: 70px;
}
#img2 {
  margin-left: 50px;
  margin-top: 150px;
}
#img3 {
  margin-left: 50px;
  margin-top: 70px;
}
h4,
p {
  color: aliceblue;
}
a {
  color: aliceblue;
}
